<div class="auth-container">
    <div class="auth-card">
        <!-- Top-left Back Button -->
        @if(step > 1) {
            <button mat-icon-button class="top-left-back" (click)="step = step - 1">
                <svg-icon src="assets/svg/arrow_back.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
            </button>
        }

        <!-- Header -->
        <div class="logo-header">
            <div class="logo-subtext">&#64; <span>Home</span></div>
        </div>
        <!-- Dynamic Step Header Text -->
        <div class="forget-text">
            @switch(step) {
            @case(1) {
                <h2 class="text-center">Trouble with logging in?</h2>
                <p>
                    Enter your email address, and we'll send you a 6-digit OTP
                    to get back into your account.
                </p>
            }
            @case(2) {
                <h2 class="text-center">Check your inbox</h2>
                <p>
                    We've sent a 6-digit OTP to your email. Enter it below to verify your identity.
                </p>
            }
            @case(3) {
                <h2 class="text-center">Reset your password</h2>
                <p>
                    Enter a new password for your account. Make sure it's strong and secure.
                </p>
            }
            }
        </div>

        <!-- Step 1: Email or Phone Input -->
        @if(step === 1) {
            <form [formGroup]="forgotForm" (ngSubmit)="sendOtp()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email address</mat-label>
                    <input matInput formControlName="username" autocomplete="username" />
                    <mat-error *ngIf="forgotForm.get('username')?.invalid">
                        Enter a valid email
                    </mat-error>
                </mat-form-field>

                <app-button [variant]="'primary'" [type]="'Submit'" class="full-width" [disabled]="forgotForm.invalid">
                    Send OTP
                </app-button>
            </form>
        }

        <!-- Step 2: OTP Verification -->
        @if(step === 2) {
            <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Enter OTP</mat-label>
                    <input matInput formControlName="otp" maxlength="6" />
                </mat-form-field>

                <app-button [variant]="'primary'" [type]="'submit'" color="primary" class="full-width" [disabled]="otpForm.invalid">
                    Verify OTP
                </app-button>
            </form>
        }

        <!-- Step 3: Reset Password -->
        @if(step === 3) {
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                    <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword"   
                        [attr.aria-label]="'Toggle password visibility'">
                        @if(showPassword) {
                            <svg-icon src="assets/svg/eye_open.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                        } @else {
                            <svg-icon src="assets/svg/eye_closed.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                        }
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="showConfirmPassword = !showConfirmPassword"
                        [attr.aria-label]="'Toggle confirm password visibility'">
                        @if(showConfirmPassword) {
                            <svg-icon src="assets/svg/eye_open.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                        } @else {
                            <svg-icon src="assets/svg/eye_closed.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                        }
                    </button>
                    <mat-error *ngIf="passwordMismatch">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                <app-button [variant]="'primary'" [type]="'submit'" [disabled]="resetForm.invalid || passwordMismatch">
                    Reset Password
                </app-button>
            </form>
        }

        @if(loading()) {
            <div class="spinner-container">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        }

        <!-- Back to login -->
        <div class="back-login-div">
            <a routerLink="/login" class="back-login">Back to Login</a>
        </div>

        <!-- Error Message -->
        @if(error) {
            <div class="error-message">
                {{ error }}
            </div>
        }
    </div>
</div>