.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f0f4f8, #d9e4f5);
    padding: 1rem;
  }
  .forget-text{
    text-align: center;
    margin-bottom: 2rem  

  }
  .auth-card {
    position: relative;
    background: #fff;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 420px;
  }
  .top-left-back {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 50%;
    padding: 0.25rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo-subtext {
    margin: 16px;
    font-size: 60px;
    color: var(--primary-color);
    font-weight: 800;
  }
  
  .logo-subtext > span {
    // display: block;
    font-size: 36px;
  }

  .full-width {
    width: 100%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }
  
  
  .back-login {
    font-size: 0.85rem;
    color: #1976d2;
    text-decoration: none;
    cursor: pointer;
  }
  
  .back-login:hover {
    text-decoration: underline;
  }
  .back-login-div{
    margin: 20px 0;
  }
  .error-message {
    color: #e53935;
    text-align: center;
    margin-top: 1rem;
  }

  

