.badge {
  position: absolute;
  top: 16px;
  right: -3px;
  background-color: #e63946;
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  z-index: 1;
}
