<div class="auth-container">
    <div class="auth-card">



        <div class="logo-header">
            <div class="logo-subtext">&#64; <span>Home</span></div>
        </div>

        <div class="forget-text">
            <h2 class="text-center">Set Your Password</h2>
            <p>
                Please create a strong password for your account. This will be used for future logins.
            </p>
        </div>


        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Set Password</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword"
                    [attr.aria-label]="'Toggle password visibility'">
                    @if(showPassword) {
                    <svg-icon src="assets/svg/eye_open.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                    } @else {
                    <svg-icon src="assets/svg/eye_closed.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                    }
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" />
                <button mat-icon-button matSuffix type="button" (click)="showConfirmPassword = !showConfirmPassword"
                    [attr.aria-label]="'Toggle confirm password visibility'">
                    @if(showConfirmPassword) {
                    <svg-icon src="assets/svg/eye_open.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                    } @else {
                    <svg-icon src="assets/svg/eye_closed.svg" [svgStyle]="{ width: '24px', height: '24px' }"></svg-icon>
                    }
                </button>
                <mat-error *ngIf="passwordMismatch">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <app-button [variant]="'primary'" [type]="'submit'" [disabled]="resetForm.invalid || passwordMismatch">
                Set Password
            </app-button>
        </form>


        @if(loading()) {
        <div class="spinner-container">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        }
        @if(error) {
        <div class="error-message">
            {{ error }}
        </div>
        }
    </div>
</div>