<app-header [title]="'Consultation Request'"></app-header>

<ion-content class="custom-content" fullscreen>
  <div class="form-card">
    <h2 class="form-title">New Consultation</h2>
    <form (ngSubmit)="submitRequest()">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="input-item">
              <ion-label position="stacked">Medical Group / Specialty</ion-label>
              <ion-select [(ngModel)]="consultation.selectedSpecialtyId" name="selectedSpecialtyId" (ionChange)="onSpecialtyChange()" interface="popover" placeholder="Select specialty" required>
                <ion-select-option *ngFor="let specialty of specialties" [value]="specialty.id">
                  {{ specialty.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="filteredPractitioners.length > 0">
          <ion-col size="12">
            <ion-item lines="none" class="input-item">
              <ion-label position="stacked">Select Practitioner</ion-label>
              <ion-select [(ngModel)]="consultation.selectedPractitionerId" name="selectedPractitionerId" interface="popover" placeholder="Select practitioner" required>
                <ion-select-option *ngFor="let practitioner of filteredPractitioners" [value]="practitioner.id">
                  Dr. {{ practitioner.firstName }} {{ practitioner.lastName }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="input-item textarea-item">
              <ion-label position="stacked">Symptoms</ion-label>
              <ion-textarea [(ngModel)]="consultation.symptoms" name="symptoms" rows="4" placeholder="Describe the symptoms in detail..."></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" type="submit" class="submit-button" color="success">
              <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
              Submit Request
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>